:root {
  --dark: hsl(0, 0%, 20%);
  --light: hsl(0, 0%, 96%);
  --opacity-background-aminal-cards: 0.25;
  --monkey: 37, 38%, 58%;
  --bear: 15, 36%, 36%;
  --buffalo: 15, 36%, 36%;
  --flamingo: 352, 62%, 73%;
  --goat: 180, 8%, 66%;
  --chameleon: 96, 43%, 46%;
  --cat: 37, 69%, 53%;
  --koala: 0, 0%, 69%;
  --crocodile: 122, 27%, 54%;
  --jellyfish: 3, 44%, 85%;
  --quail: 186, 37%, 64%;
  --lion: 37, 69%, 53%;
  --mouse: 199, 54%, 80%;
  --hippo: 188, 36%, 74%;
  --elephant: 188, 35%, 78%;
  --pinguine: 60, 1%, 13%;
  --tiger: 26, 63%, 50%;
  --owl: 34, 35%, 47%;
  --bat: 0, 0%, 50%;
  --wale: 198, 55%, 61%;
  --singing-bird: 199, 54%, 80%;
  --zebra: 0, 0%, 34%;
  --seal: 320, 3%, 57%;
}

* {
  margin: 0;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: Roboto, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
}

h2{
  font-size: 20px;
}

p {
  font-size: 16px;
}

/*
  ------------------------------------------------------------------------------
    Overview Styling
  ------------------------------------------------------------------------------
 */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 10vh auto;
}

.card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 50%;
  margin: 1.5rem;
  transition: all .3s ease-in-out;
  line-height: 0.8;
}

.card:hover{
  border-radius: 4px;
}

.text {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
}

.text p {
  font-size: 20px;
}

svg {
  max-width: 100px;
  max-height: 100px;
}

.text--monkey {
  color: hsl(var(--monkey));
}

.text--bear {
  color: hsl(var(--bear));
}

.text--buffalo {
  color: hsl(var(--buffalo));
}

.text--flamingo {
  color: hsl(var(--flamingo));
}

.text--goat {
  color: hsl(var(--goat));
}

.text--chameleon {
  color: hsl(var(--chameleon));
}

.text--cat {
  color: hsl(var(--cat));
}

.text--koala {
  color: hsl(var(--koala));
}

.text--crocodile {
  color: hsl(var(--crocodile));
}

.text--jellyfish {
  color: hsl(var(--jellyfish));
}

.text--quail {
  color: hsl(var(--quail));
}

.text--lion {
  color: hsl(var(--lion));
}

.text--mouse {
  color: hsl(var(--mouse));
}

.text--hippo {
  color: hsl(var(--hippo));
}

.text--elephant {
  color: hsl(var(--elephant));
}

.text--pinguine {
  color: hsl(var(--pinguine));
}

.text--tiger {
  color: hsl(var(--tiger));
}

.text--owl {
  color: hsl(var(--owl));
}

.text--bat {
  color: hsl(var(--bat));
}

.text--wale {
  color: hsl(var(--wale));
}

.text--singing-bird {
  color: hsl(var(--singing-bird));
}

.text--zebra {
  color: hsl(var(--zebra));
}

.text--seal {
  color: hsl(var(--seal));
}

.background--monkey {
  background-color: hsla(var(--monkey), var(--opacity-background-aminal-cards));
}

.background--bear {
  background-color: hsla(var(--bear), var(--opacity-background-aminal-cards));
}

.background--buffalo {
  background-color: hsla(var(--buffalo), var(--opacity-background-aminal-cards));
}

.background--flamingo {
  background-color: hsla(var(--flamingo), var(--opacity-background-aminal-cards));
}

.background--goat {
  background-color: hsla(var(--goat), var(--opacity-background-aminal-cards));
}

.background--chameleon {
  background-color: hsla(var(--chameleon), var(--opacity-background-aminal-cards));
}

.background--cat {
  background-color: hsla(var(--cat), var(--opacity-background-aminal-cards));
}

.background--koala {
  background-color: hsla(var(--koala), var(--opacity-background-aminal-cards));
}

.background--crocodile {
  background-color: hsla(var(--crocodile), var(--opacity-background-aminal-cards));
}

.background--jellyfish {
  background-color: hsla(var(--jellyfish), var(--opacity-background-aminal-cards));
}

.background--quail {
  background-color: hsla(var(--quail), var(--opacity-background-aminal-cards));
}

.background--lion {
  background-color: hsla(var(--lion), var(--opacity-background-aminal-cards));
}

.background--mouse {
  background-color: hsla(var(--mouse), var(--opacity-background-aminal-cards));
}

.background--hippo {
  background-color: hsla(var(--hippo), var(--opacity-background-aminal-cards));
}

.background--elephant {
  background-color: hsla(var(--elephant), var(--opacity-background-aminal-cards));
}

.background--pinguine {
  background-color: hsla(var(--pinguine), var(--opacity-background-aminal-cards));
}

.background--tiger {
  background-color: hsla(var(--tiger), var(--opacity-background-aminal-cards));
}

.background--owl {
  background-color: hsla(var(--owl), var(--opacity-background-aminal-cards));
}

.background--bat {
  background-color: hsla(var(--bat), var(--opacity-background-aminal-cards));
}

.background--wale {
  background-color: hsla(var(--wale), var(--opacity-background-aminal-cards));
}

.background--singing-bird {
  background-color: hsla(var(--singing-bird), var(--opacity-background-aminal-cards));
}

.background--zebra {
  background-color: hsla(var(--zebra), var(--opacity-background-aminal-cards));
}

.background--seal {
  background-color: hsla(var(--seal), var(--opacity-background-aminal-cards));
}

/*
  ------------------------------------------------------------------------------
    Details Styling
  ------------------------------------------------------------------------------
 */

.results {
  display: none;
}

main.active {
  display: none;
}

.results.active {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 10vh 0 5vh 0;
  text-align: center;
  text-transform: uppercase;
}

.link-back {
  position: fixed;
  text-decoration: none;
  color: hsl(var(--bat));
  text-transform: uppercase;
  font-size: 22px;
  padding: 0.5rem;
  margin: 1rem;
  background-color: hsl(0, 0%, 85%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 50px;
  z-index: 999;
}

.far {
  margin: 0 0.5rem;
}

.link-back span {
  margin-right: 0.5rem;
}

.books {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto 10vh auto;
  justify-content: center;
}

.book {
  background-color: transparent;
  width: 270px;
  height: 450px;
  perspective: 1000px;
  margin: 0.5rem;
}

.book-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
}

.book:hover .book-inner {
  transform: rotateY(-180deg);
}

.book-front,
.book-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 998;
}

.book-front {
  background-color: transparent;
}

.book-front img {
  width: 100%;
  height: 100%;
}

.book-back {
  flex-direction: column;
  background-color: hsla(var(--flamingo), var(--opacity-background-aminal-cards));
  color: hsl(var(--flamingo));
  transform: rotateY(-180deg);
  overflow-y: auto;
}

article:nth-child(2n+2) .book-back {
  background-color: hsla(var(--wale), var(--opacity-background-aminal-cards));
  color: hsl(var(--wale));
}

article:nth-child(3n+3) .book-back {
  background-color: hsla(var(--tiger), var(--opacity-background-aminal-cards));
  color: hsl(var(--tiger));
}

article:nth-child(4n+4) .book-back {
  background-color: hsla(var(--crocodile), var(--opacity-background-aminal-cards));
  color: hsl(var(--crocodile));
}

.book-back h2,
.book-back p {
  padding: 1rem 1rem 0 1rem;
}

.rainbow-text {
  background-image: linear-gradient(to left, hsl(var(--pinguine)), hsl(var(--koala)), hsl(var(--mouse)), hsl(var(--flamingo)), hsl(var(--cat)), hsl(var(--tiger)), hsl(var(--crocodile)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-text-animated {
  background-image: repeating-linear-gradient(45deg, hsl(var(--pinguine)), hsl(var(--koala)), hsl(var(--mouse)), hsl(var(--flamingo)), hsl(var(--cat)), hsl(var(--tiger)), hsl(var(--crocodile)));
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0 50%;
  }
}